var startY = 0,
  diff = 0,
  startX = 0;
var y, //滑动区距离顶部的高度
  touchTop, //左侧是否滑动到了顶部
  position = "bottom", //默认在下面
  showCoupon = false, //展示优惠券标
  navHeight; // 滑动区还原时距离顶部的距离
var moveDistanceY = 0; //移动的距离
var moveDistanceX = 0;

function touchstart(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0]
  var target = ins.selectComponent('.drag')
  startY = touch.pageY;
  startX = touch.pageX;
  // console.log('坐标S：(',startX,',',startY,')')
  //赋值
  y = event.currentTarget.dataset.y
  navHeight = event.currentTarget.dataset.navHeight;
  touchTop = event.currentTarget.dataset.touchTop
  moveDistanceY = 0 //重置移动距离
  moveDistanceX = 0
  position = target.hasClass('position_bottom') ? 'bottom' : 'top'
}

function touchmove(event, ins) {
  var touch = event.touches[0] || event.changedTouches[0]
  var pageY = touch.pageY;
  var pageX = touch.pageX;
  // console.log('坐标M：(',pageX,',',pageY,')')
  touchTop = event.currentTarget.dataset.touchTop
  moveDistanceY = pageY - startY;
  moveDistanceX = pageX - startX;
  if (Math.abs(moveDistanceY) > Math.abs(moveDistanceX)) {
    //向下滚动
    if (moveDistanceY > diff) {
      //在顶部
      if (position == 'top') {
        if (touchTop) {
          return false
        }
        return true
      }
      //在底部
      if (position == 'bottom') {
        return true
      }
      return true
    } else if (moveDistanceY < diff) { // 向上滚动
      //当前位置不在顶部的时候透传
      if (position == 'top') {
        return true
      } else {
        return false
      }
    } else {
      return false
    }
  } else {
    return true
  }
}

function touchend(event, ins) {
  touchTop = event.currentTarget.dataset.touchTop;
  var target = ins.selectComponent(".drag");
  // 导航栏要跟着变色
  var navTarget = ins.selectComponent(".navigate_box");
  // 整体上推的目标
  var mainBoxTarget = ins.selectComponent(".main_box");
  // console.log('moveDistanceY:', moveDistanceY);
  // console.log('moveDistanceX:', moveDistanceX);
  if (Math.abs(moveDistanceY) > Math.abs(moveDistanceX)) {
    //向下滚动
    if (moveDistanceY > diff) {
      //位置在顶部
      if (position == "top") {
        if (touchTop) {
          //分类在顶部
          target.removeClass("position_top");
          navTarget.removeClass("position-top");
          target.addClass("position_bottom");
          navTarget.addClass("position-bottom");
          // target.setStyle({
          //     transform: 'translateY(0px)'
          // })
          mainBoxTarget.setStyle({
            transform: "translateY(" + navHeight + "px)",
          });
          ins.callMethod("refreshShowCoupon", {
            showCoupon: false,
            navBackColor: 'white',
          });
          showCoupon = false;
          position = "bottom";
          return false;
        }
        return true;
      } else if (position == "bottom") {
        //位置在底部
        //是否展示优惠券的标
        if (showCoupon) {
          // target.setStyle({
          //     transform: 'translateY(0px)'
          // })
          mainBoxTarget.setStyle({
            transform: "translateY(" + navHeight + "px)",
          });
          ins.callMethod("refreshShowCoupon", {
            showCoupon: false,
            navBackColor: "white",
          });
          showCoupon = false;
          return false;
        }
        return true;
      }
    } else if (moveDistanceY < diff) {
      //向上滚动
      if (position == "top") {
        return true;
      } else if (position == "bottom") {
        target.removeClass("position_bottom");
        navTarget.removeClass("position-bottom");
        target.addClass("position_top");
        navTarget.addClass("position-top");
        //   target.setStyle({
        //       transform: 'translateY(-' + y + 'px)'
        //   })
        mainBoxTarget.setStyle({
          transform: "translateY(-" + y + "px)",
        });
        // console.log('ttttttt====>', 'translateY(-' + y + 'px)')
        ins.callMethod("refreshShowCoupon", {
          showCoupon: true,
          navBackColor: "black",
        });
        showCoupon = true;
        position = "top";
        return false;
      }
    } else {
      return false;
    }
  } else {
    return true;
  }
}

module.exports = {
  touchstart: touchstart,
  touchmove: touchmove,
  touchend: touchend,
}