var scrollTop = 0
var ratio = 0
var isHaveArrow = false
var scrollHeight = 0; // 滚动到渐变结束的基准点
var arrHeight = 0; //滚动到箭头显示位置
// 页面滑动
var scrollYMove = function (e, ins) {
  var instance = ins.selectComponent('.nav_wrap')
  var length = instance.getDataset().length;
  var firstlength = instance.getDataset().firstlength;
  scrollHeight = firstlength >= 8 ? 90 : 10
  scrollTop = e.detail.scrollTop;

  ratio = e.detail.scrollTop / scrollHeight;
  ratio >= 1 && (ratio = 1)
  ins.callMethod('handleScrolling', {
    isShow: scrollTop > 400 ? true : false,
    scrollTop: scrollTop
  })

  ins.selectComponent(".header").setStyle({
    background: 'rgba(255,255,255,' + ratio + ')'
  })
  ins.selectComponent(".ball_bgcolor").setStyle({
    opacity: (1 - ratio)
  })

  if (scrollTop >= scrollHeight - 1) {
    ins.selectComponent(".header_comp").selectComponent(".title").setStyle({
      color: "#000"
    })
    ins.selectComponent(".header_comp").selectComponent(".search").setStyle({
      background: "#f6f6f6"
    })
    ins.selectComponent(".header_comp").selectComponent(".back_icon").setStyle({
      "background-image": 'url(https://storage.360buyimg.com/wximg/channel/channel_back.png)'
    })
    ins.selectComponent(".nav_wrap").removeClass('hide02')
  } else {
    ins.selectComponent(".header_comp").selectComponent(".title").setStyle({
      color: "#fff"
    })
    ins.selectComponent(".header_comp").selectComponent(".search").setStyle({
      background: "#fff"
    })
    ins.selectComponent(".header_comp").selectComponent(".back_icon").setStyle({
      "background-image": 'url(https://storage.360buyimg.com/wximg/channel/back_page.png)'
    })
    ins.selectComponent(".nav_wrap").addClass('hide02')
  }
  // 处理箭头显示隐藏
  var height = length > 8 ? 135 : length > 4 ? 90 : 45; // 二级分类导航数量
  arrHeight = firstlength >= 8 ? 119 : 24
  if (scrollTop >= arrHeight + height) { // 箭头  30是两排分类球
    ins.callMethod('handleArrowShow', {
      isShowArrow: true
    })
    isHaveArrow = true
  } else {
    ins.callMethod('handleArrowShow', {
      isShowArrow: false
    })
    isHaveArrow = false
  }
  // 右侧飘窗
  if (scrollTop > 3) {  // tab切换的时候不触发
    ins.callMethod('handleScroll')
  }
}


// 点击一级导航
var handleNavClick = function (e, ins) {
  // console.log('点击头部',JSON.stringify(e.currentTarget.dataset))
  var instance = ins.selectComponent('.nav_wrap')
  var currentData = e.currentTarget.dataset;
  if (instance.getDataset().current != currentData.index) { // 防止重复点击
    ins.selectComponent(".mask").addClass('hide')
    ins.selectComponent(".secondNav2").addClass('hide')
    ins.callMethod('handleFirstNavClick', currentData)
    ins.callMethod('handleArrow', {
      arrowDirection: false
    })
  } else {
    if (isHaveArrow && currentData.item.recommendList && currentData.item.recommendList.length > 0) {
      if (ins.selectComponent(".secondNav2").hasClass('hide')) {  // 是否展示出弹层  
        ins.selectComponent(".mask").removeClass('hide')
        ins.selectComponent(".secondNav2").removeClass('hide')
        ins.callMethod('handleArrow', {
          arrowDirection: true
        })
      } else {
        ins.selectComponent(".mask").addClass('hide')
        ins.selectComponent(".secondNav2").addClass('hide')
        ins.callMethod('handleArrow', {
          arrowDirection: false
        })
      }
    }
  }
}
// 二级事件
var handleSecondNavClick = function (e, ins) {
  var instance = ins.selectComponent('.nav_wrap')
  var currentData = e.currentTarget.dataset;
  if (instance.getDataset().horicurrent != currentData.index) {  // 防止重复点击
    ins.selectComponent(".mask").addClass('hide')
    ins.selectComponent(".secondNav2").addClass('hide')
    ins.callMethod('handleArrow', {
      arrowDirection: false
    })
    ins.callMethod('handleSecondNav', currentData)
  }
}
var closeMask = function (e, ins) {
  ins.selectComponent(".mask").addClass('hide')
  ins.selectComponent(".secondNav2").addClass('hide')
  ins.selectAllComponents(".arrow").forEach(function (item) {
    item.setStyle({
      transform: "translateY(0rpx) rotate(45deg)"
    })
  })
}

module.exports = {
  scrollYMove: scrollYMove,
  handleNavClick: handleNavClick,
  handleSecondNavClick: handleSecondNavClick,
  closeMask: closeMask
}